# Mid EXAM : Tools and Techniques Data Science

# Task 1: ( 5 Marks)  Warp up

# Note : Rename the file with your name and id and also mention your name and id inside here

Name: _____________________________________                                  ID:

In [ ]:
# Q1. Here, we take each element in the list a (temporarily assigning it the value i) 
a = [5, 10, 15, 20]

In [ ]:
# (i)	Find the square each element in the list. This creates a new list called b and does not modify a through data comprehension.

In [ ]:
b=np.square(a)
b=b.tolist()
print(b)

[25, 100, 225, 400]

In [ ]:
# (ii)	Write a conditional statement of only squaring the elements if the element is not equal to 10.

newlist = []

for x in a:
  if x!=10:
    newlist.append(x*x)

print(newlist)

[25, 225, 400]

In [ ]:
# Q2. (i) Write the command of random samples from a uniform distribution between 0 and 1?

In [ ]:
print(np.random.uniform(low = 0.0, high = 1.0, size = 10)  )

[0.96402091 0.28408292 0.52850785 0.59057644 0.82386252 0.00725826
 0.92366232 0.55467436 0.45943849 0.92458096]

In [ ]:
import numpy as np 
import pandas as pd

In [ ]:
technologies = {
    'job':["develeoper","teacher","driver"],
    'salary' :[20000,25000,2323],
    'experince':['1 year','20 year','4 year'],
    'rent':[1000,2300,5000]
              }
df = pd.DataFrame(technologies)
print(df)

          job  salary experince  rent
0  develeoper   20000    1 year  1000
1     teacher   25000   20 year  2300
2      driver    2323    4 year  5000

In [ ]:
#(ii)	Write the command to slice the column 1?

In [ ]:
df2 = df.iloc[:,:1]
print(df2)

          job
0  develeoper
1     teacher
2      driver

In [ ]:
#(iii)	Write the command of first and third elements in column 1?

In [ ]:
df3 = df.iloc[[0, 2],:1]
  

df3

          job
0  develeoper
2      driver

In [ ]:
#(iv)	 Write the command of returns an 8 x 4 array

In [ ]:
arr = np.empty((8, 4))
for i in range(8):
   arr[i] = i
arr

array([[0., 0., 0., 0.],
       [1., 1., 1., 1.],
       [2., 2., 2., 2.],
       [3., 3., 3., 3.],
       [4., 4., 4., 4.],
       [5., 5., 5., 5.],
       [6., 6., 6., 6.],
       [7., 7., 7., 7.]])

In [ ]:
import pandas as pd

In [ ]:
#Q3. Create a Series that looks like this below:
Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

In [ ]:
series = pd.Series(['4 cups','1 cup','2 large','1 can'],index = ['Flour','Milk','Eggs','Spam'])
series

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
dtype: object

In [ ]:
# Q  4 Create the Data frame  as th output[27]

In [ ]:
datafram= pd.DataFrame({
     'Apples' :[35,41],
    'Bananas':[21,34] }, 
    index = ['2017Sales','2018Sales'])
              
print( pd.DataFrame(datafram))

           Apples  Bananas
2017Sales      35       21
2018Sales      41       34

In [ ]:
df

          job  salary experince  rent
0  develeoper   20000    1 year  1000
1     teacher   25000   20 year  2300
2      driver    2323    4 year  5000

In [ ]:
#Q4. create Dataframe then find imputation for these missing NaN in the out[47]

In [ ]:
df = pd.DataFrame({'Age':[23.0,39.0,45.0,np.NaN],'Gender':['M','F','F','M'],'Income':[24200.0,np.NaN,45390.0,np.NaN],'Religion':['Muslim','chirstian',np.NaN,'Muslim']})
df

    Age Gender   Income   Religion
0  23.0      M  24200.0     Muslim
1  39.0      F      NaN  chirstian
2  45.0      F  45390.0        NaN
3   NaN      M      NaN     Muslim

In [ ]:
#Q4(i)	Compute the appropriate missing value in income attribute?

In [ ]:
df['Income'].fillna(df['Income'].mean(), inplace=False)
df

    Age Gender   Income   Religion
0  23.0      M  24200.0     Muslim
1  39.0      F      NaN  chirstian
2  45.0      F  45390.0        NaN
3   NaN      M      NaN     Muslim

In [ ]:
#(ii)	Compute the appropriate missing values in religion attribute?

In [ ]:
df['Religion'].fillna(df['Religion'].mode()[0], inplace=False)
df

    Age Gender   Income   Religion
0  23.0      M  24200.0     Muslim
1  39.0      F      NaN  chirstian
2  45.0      F  45390.0        NaN
3   NaN      M      NaN     Muslim

In [ ]:
#(iii)	Drop the columns where any of the elements is nan

In [ ]:
result=df.dropna(axis=1)
result

  Gender
0      M
1      F
2      F
3      M

In [ ]:
#(iv)	Keep only the rows with at least 2 non-na values

In [ ]:
result = df.dropna(thresh=2)
print(result)

    Age Gender   Income   Religion
0  23.0      M  24200.0     Muslim
1  39.0      F      NaN  chirstian
2  45.0      F  45390.0        NaN
3   NaN      M      NaN     Muslim